<div class="h-full">
  <div class="bg-white shadow-md rounded-lg p-4 h-full">
    <div class="flex flex-row justify-between w-full">
      <h2 class="text-xl font-semibold">Breakdown</h2>
      <%= form_with url: budgets_path, method: :get, local: true, class: "flex flex-col gap-2 mb-4" do %>
        <%= select_tag :view,
        options_for_select(
          [
            %w[Daily daily],
            %w[Weekly weekly],
            %w[Fortnightly fortnightly],
            %w[Monthly monthly],
            %w[Quarterly quarterly],
            %w[Annually annually],
          ],
          params[:view],
        ),
        onchange: "this.form.submit()",
        class: "rounded",
        style: "max-width: max-content;" %>
      <% end %>
    </div>
    <% @category_distribution.each do |category, amount| %>
      <div class="flex justify-between py-2">
        <span class="font-semibold"><%= category %></span>
        <span><%= number_to_currency(amount, unit: "AUD $") %></span>
      </div>
    <% end %>
    <hr class="my-4">
    <div class="flex justify-between py-2">
      <span class="font-semibold">Total</span>
      <span><%= number_to_currency(@total_amount, unit: "AUD $") %></span>
    </div>
    <div class="flex justify-between py-2">
      <span class="font-semibold">Income</span>
      <span><%= number_to_currency(@income, unit: "AUD $") %></span>
    </div>
    <div class="flex justify-between py-2">
      <span class="font-semibold">Remaining</span>
      <span><%= number_to_currency(@remaining_amount, unit: "AUD $") %></span>
    </div>
  </div>
</div>
