<div class="mx-auto mt-4">

  <h1 class="text-2xl font-semibold">Budgets</h1>

  <div class="mx-auto px-4 py-8">
    <%= form_with url: budgets_path, method: :get, local: true, class: "flex flex-col gap-2 mb-4" do %>
      <label for="view" class="mr-2">View by:</label>
      <%= select_tag :view,
      options_for_select(
        [
          %w[Daily daily],
          %w[Weekly weekly],
          %w[Fortnightly fortnightly],
          %w[Monthly monthly],
          %w[Quarterly quarterly],
          %w[Annually annually],
        ],
        params[:view],
      ),
      onchange: "this.form.submit()",
      class: "rounded",
      style: "max-width: max-content;" %>
    <% end %>

    <div class="flex flex-row justify-center align-middle h-full gap-4">
      <div class="flex-1">
        <%= render "category_distribution_details" %>
      </div>
      <div class="flex-1">
        <%= render "category_distribution" %>
      </div>
    </div>

    <turbo-frame id="budgets">
      <%= render "table" %>
    </turbo-frame>

  </div>
</div>
