<div class="bg-gray-800 text-white p-4" id="navigation">
  <div class="container mx-auto flex justify-between items-center">
    <span class="text-lg font-semibold">
      <%= link_to "FinanceRails", root_path, class: "hover:text-blue-400" %>
    </span>
    <div class="flex gap-4">
      <span><%= link_to "Budgets", budgets_path, class: "hover:text-blue-400" %></span>
      <span><%= link_to "Accounts", accounts_path, class: "hover:text-blue-400" %></span>
      <span><%= link_to "Transactions", transactions_path, class: "hover:text-blue-400" %></span>
    </div>
    <div class="flex gap-4">
      <% if user_signed_in? %>
        <!-- Show only if user is signed in -->
        <span><%= button_to "Sign out",
          destroy_user_session_path,
          method: :delete,
          class: "hover:text-red-400" %></span>
      <% else %>
        <!-- Show only if user is not signed in -->
        <span><%= link_to "Sign in", new_user_session_path, class: "hover:text-blue-400" %></span>
        <span><%= link_to "Sign up", new_user_registration_path, class: "hover:text-blue-400" %></span>
      <% end %>
    </div>
  </div>
</div>
