<div class="flex gap-4">
  <!-- Link to income -->
  <%= link_to "#", class: "flex flex-row gap-2 hover:text-blue-400" do %>
    <%= render "icons/stacked_coins" %>
    <span>Income</span>
  <% end %>
  <!-- Link to budgets -->
  <%= link_to budgets_path, class: "flex flex-row gap-2 hover:text-blue-400" do %>
    <%= render "icons/piggy_bank" %>
    <span>Budgets</span>
  <% end %>
  <!-- Link to accounts -->
  <%= link_to accounts_path, class: "flex flex-row gap-2 hover:text-blue-400" do %>
    <%= render "icons/wallet" %>
    <span>Accounts</span>
  <% end %>
  <!-- Link to transactions -->
  <%= link_to transactions_path, class: "flex flex-row gap-2 hover:text-blue-400" do %>
    <%= render "icons/receipt" %>
    <span>Transactions</span>
  <% end %>
</div>
