<!DOCTYPE html>
<html class="min-h-screen flex flex-1">
  <head>
    <title>FinanceRails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application",
    "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="min-h-full flex flex-1 bg-red-100 text-gray-800">
    <% if notice %>
      <p class="bg-blue-100 text-blue-800 px-4 py-2 rounded-md"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="bg-red-100 text-red-800 px-4 py-2 rounded-md"><%= alert %></p>
    <% end %>

    <main class="flex flex-1 flex-col h-full">
      <%= render "shared/navbar" %>
      <%= yield %>
    </main>
  </body>
</html>
